* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 20px;
}

div#navbar {
    display: flex;
    justify-content: space-between;
}

div#path {
    display: flex;
    gap: 10px;
}

div#profile {
    position: relative;
}

div#profile-header {
    display: flex;
}

div#profile-header svg{
    width: 20px;
}

div.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    border: solid black;
    right: 0;
    width: 65px;
}

div.menu button {
    border: none;
    background-color: white;
    padding: 5px;
}

div#actions {
    display: flex;
    position: relative;
}

div#actions-header {
    display: flex;
    align-content: center;
}

div#actions svg{
    width: 30px;
}

div#actions-header svg{
    width: 20px;
}

div#actions .menu {
    position: absolute;
    left: 0;
    top: 20px;
    width: 150px;
}

div#actions .menu form{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

form#file-form input{
    display: none;
}

div#items {
    display: flex;
    gap: 10px;
    padding: 10px;
}

svg {
    width: 50px;
}

a.folder,
a.file {
    display: flex;
    flex-direction: column;
    text-align: center;
}