<div id="file-actions">
    <form action="/file/<%= id %>/download" method="POST">
        <button type="submit"> Download </button>
    </form>
    <form action="/file/<%= id %>/delete" method="POST">
        <button type="submit"> Delete </button>
    </form>
    <form action="/file/<%= id %>/share" method="POST">
        <label for="duration"></label>
        <input type="number" id="duration" name="duration" step="1">
        <label for="units"></label>
        <select id="units" name="units">
            <option value="hours"> hr </option>
            <option value="days"> day </option>
            <option value="weeks"> wk </option>
            <option value="months"> mo </option>
        </select>
        <button type="submit"> Share </button>
    </form>
    <button type="button" id="rename-button"> Rename </button>
</div>
