<form action="/upload" method="POST">
    <label for="name"> Name: </label>
    <input type="text" id="name" name="name" required>
    <label for="description"> Description: </label>
    <input type="text" id="description" name="description">
    <label for="file"> File: </label>
    <input type="file" id="file" name="file">
</form>