<div id="actions">
    <div id="actions-header">
        Options
        <div class="toggle-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>menu-up</title>
                <path d="M7,15L12,10L17,15H7Z" />
            </svg>
        </div>
    </div>
    <div class="menu file">
        <form action="/file/<%= id %>/download" method="POST">
            <button type="submit"> Download </button>
        </form>
        <form action="/file/<%= id %>/delete" method="POST">
            <button type="submit"> Delete </button>
        </form>
        <button type="button" id="rename-button"> Rename </button>
    </div>
</div>
