<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> File Uploader </title>
    </head>
    <body>
<!--    if user exists show login form -->
        <%- include('components/log-in') -%>
<!--    else show file upload form-->
        <%- include('components/file-upload') -%>
    </body>
</html>