<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> File Uploader </title>
    </head>
    <body>
        <% if (!authenticated) { %>
            <%- include('components/log-in') -%>
            <a href="/sign-up"> Sign Up </a>
        <% } else { %>
            <form action="/log-out" method="POST">
                <button type="submit"> Log Out </button>
            </form>
            <%- include('components/file-upload') -%>
        <% } %>
    </body>
</html>