* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

div#path {
    display: flex;
    gap: 10px;
}

div#info {
    display: flex;
    flex-direction: column;
}

input:disabled {
    /* Remove default styling */
    all: unset;

    /* Add desired styling */
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
    outline: none; /* Removes focus outline */
    background: none; /* Removes default background color */
    border: none; /* Removes border */

}