* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

a svg {
    margin: auto;
}

a p {
    text-align: center;
}

a.link {
    width: 85%;
}

a.link p.text,
p.item-name {
    width: 100px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.item-name {
    text-align: center;
}

.file-tree-popup {
    display: none;
    position: absolute;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    padding: 5px;
    transform: translate(15px, 15px);
    font-size: 10px;
}

.item-popup {
    display: none;
    position: absolute;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    padding: 5px;
    transform: translate(20px, 90px);
    font-size: 10px;
}

/* Show the additional content when hovering over the link */
div.bar:hover + .file-tree-popup,
p.item-name:hover + .item-popup {
    display: block;
}

div.file-tree-link {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    justify-content: space-between;
}

div#content {
    display: flex;
    width: 100%;
}

div#file-structure {
    width: 25%;
}

div.bar {
    width: 100%;
    display: flex;
    align-items: center;
}

div#display {
    width: 100%;
}

svg {
    width: 80px;
}

div#navbar {
    display: flex;
    justify-content: space-between;
}

div#path {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 0;
    padding: 20px;
}

input:disabled {
    /* Remove default styling */
    all: unset;

    /* Add desired styling */
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
    outline: none; /* Removes focus outline */
    background: none; /* Removes default background color */
    border: none; /* Removes border */
}

div#items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

div#profile,
div#actions {
    display: flex;
    flex-direction: column;
    position: relative;
}

div#profile-header {
    display: flex;
}

.toggle-icon svg {
    width: 20px;
}

div#actions-header {
    display: flex;
    width: 70px;
}

div.menu {
    display: none;
    top: 20px;
    flex-direction: column;
    position: absolute;
    background: white;
    border: solid black;
}

div#actions div.menu svg {
    width: 30px;
}

form#file-form input {
    display: none;
}

form#file-form,
div#folder-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

div#profile div.menu {
    z-index: 10;
    width: 75px;
    right: 10px;
}

div#profile div.menu button {
    border: none;
    background-color: white;
    margin: 10px;
}