* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 20px;
}

svg {
    width: 80px;
}

div#navbar {
    display: flex;
    justify-content: space-between;
}

div#path {
    display: flex;
    gap: 10px;
}

div#items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

div#profile {
    display: flex;
    flex-direction: column;
}

div#profile-header {
    display: flex;
}

.toggle-icon svg {
    width: 20px;
}

div#actions-header {
    display: flex;
}

div#actions {
    display: flex;
}